.wrapper {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  transform: translateY(-115px);
}

.wrapper div {
  width: 80px;
  height: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper div img {
  width: 35px;
  height: 35px;
}

.active {
  background-color: #090c16;
  border: none;
  border-radius: 5px;
}
