:root {
  --primary-color: #1bfbe4;
  --secondary-color: #ff56ee;
  --tertiary-color: #4effa1;

  --main-background-color: #050711;
  --primary-text-color: #cccccc;
  --secondary-text-color: #849fb4;

  --primary-gradient: linear-gradient(
    90deg,
    rgb(78, 255, 207) 0%,
    rgb(8, 164, 188) 100%
  );
  --secondary-gradient: linear-gradient(
    90deg,
    rgb(255, 86, 238) 0%,
    rgb(62, 87, 194) 100%
  );
}
