.wrapper {
  height: 75%;
  width: 100%;
  background-color: #0b0e19;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.wrapper .dropdownWrapper {
  position: relative;
  width: 23%;
  height: 80%;
  color: #cccccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper .valueWrapper {
  position: relative;
  width: 15%;
  height: 80%;
  color: #4effa1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper .valueWrapper h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.wrapper .nameWrapper {
  position: relative;
  width: 23%;
  height: 40%;
  color: #cccccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  border-left: 7px solid #4effa1;
}

.wrapper .nameWrapper .name {
  font-size: 20px;
  font-weight: 600;
  color: #849fb4;
}
